@-moz-document url("https://e621.net/") {
/* E621 HOMEPAGE ONLY */
/* customize these options */
:root {
    --homepage-primary: #6f7886;
    --homepage-secondary: #355161;
    --homepage-lighter: #aaced1;
    --homepage-accent: #4b7d99;
    --homepage-image: url('https://static1.e621.net/data/1e/d4/1ed43413b5d005b71327449dc454ec43.jpg');
}

/* DO NOT TOUCH BELOW THIS POINT */
/* uwu */
body {
    background: var(--homepage-image) center center no-repeat !important;
    background-size: cover !important;
}

#page,
#c-static {
    height: 100% !important;
    position: relative !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    overflow: hidden !important;
}

#a-home {
    position: relative !important;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    margin: 0 auto !important;
}

#c-static {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-flow: column wrap !important;
}
.mascotbox {
    background: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(0.25em) !important;
    padding: 1.75em !important;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.45);
    text-shadow: none !important;
    border: 1px solid rgba(255, 255, 255, 0.85);
    display: flex !important;
    flex-flow: column wrap !important;
    justify-content: center;
    align-items: center;
}

.mascotbox::before {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1 !important;
}

.mascotbox h1,
.mascotbox a {
    z-index: 69 !important;
}

.mascotbox a {
    color: var(--homepage-primary) !important;
    text-transform: lowercase;
}

.mascotbox h1 a,
input[type=text] {
    color: var(--homepage-accent) !important;
    transition: color 200ms;
}

#searchbox h1 a {
    font-family: 'Whitney Black' !important;
    font-size: 2em;
}

#searchbox a:hover {
    color: var(--homepage-accent) !important;
    transition: color 200ms;
}

input[type=text] {
    padding: 0.75em !important;
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 5px !important;
    transition: background 200ms, color 200ms;
}

input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--homepage-secondary) !important;
    transition: background 200ms, color 200ms;
}

input[type=submit],
input[type=button],
#mascot_artist,
#c-static::after,
#searchbox2 {
    display: none !important;
}

#static-index {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    row-gap: 0.75rem !important;
}

#links {
    margin-bottom: 0.75em;
}

#searchbox3 p {
    font-size: 1.1em !important;
    line-height: 1.7em !important;
}

#searchbox3 a,
#searchbox3 p {
    color: var(--homepage-primary) !important;
    transition: color 200ms;
}

#searchbox3 > p > a:hover {
    color: var(--homepage-accent) !important;
    transition: color 200ms;
}

/* undo styling from rest of css */
#c-static > #a-home form {
    background: none !Important;
}

#c-static > #a-home form > div {
    width: 100% !important;
}

#tags:focus {
    background: #fff !important;
}

.ui-widget-content {
    background: rgba(255, 255, 255, 0.8) !important;
    outline: none !important;
    border: none !important;
/*     padding: 0.25em !important; */
    backdrop-filter: blur(0.25em) !important;
}

.ui-autocomplete .ui-state-active {
    background: var(--homepage-lighter) !important;
    border: none !important;
}

.ui-autocomplete .ui-state-active a,
.ui-widget-content,
.autocomplete-arrow {
    color: var(--homepage-primary) !important;
}

.ui-autocomplete a.user-member.with-style {
    font-family: 'whitney book' !important;
    font-weight: normal !important;
}


@media only screen and (max-height: 600px) {
    #a-home {
        margin: 0 auto !important;
        top: auto !important;
    }
}
}

@-moz-document url-prefix("https://e621.net/") {
/* GENERAL STYLES */
/* customize these options */
:root {
    --body-bg: #282C34 !important;
    --card-bg: #25373D !important;
    --card-bg-2: #3E444E !important;
    --op-bg: rgba(37, 55, 61, .98) !important;
    --border-color: #000 !important;
    --primary-color: #FFF !important;
    --secondary-color: #EBEBEB !important;
    --accent: #2cc990 !important;
    --darker: #4b9699 !important;
}

/* DO NOT TOUCH BELOW THIS POINT */
/* uwu */
/* SITE STYLES */
body {
    background: var(--body-bg);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: var(--primary-color) !important;
}

html,
body {
    height: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}

* {
    font-family: 'Whitney-Book', 'Whitney Book' !important;
    box-sizing: border-box !important;
}

h1,
h2,
h3,
h4 {
    font-family: 'Whitney black' !important;
}


h5,
h6 {
    font-family: 'Whitney Medium' !important;
}

h1 {
    font-family: 'Whitney Black' !important;
    font-size: 2em !important;
}

.paginator a,
#ui-id-4,
#blacklist-save,
#blacklist-cancel,
.author-name a,
.new-comment h2 a,
#p-index-by-post h2 a {
    font-family: 'Whitney Black' !important;
}

a.expand-comment-response,
a[rel=nofollow].dtext-link,
#c-posts #post-sections a,
#a-show > div > div.bottom-section > div.posts-section > div.posts > div > h2 > a {
    font-family: 'Whitney semibold' !important;
}

.dtext-color {
    color: var(--accent) !important;
}

p,
.section > ul > li > a {
    font-size: 1.1em !important;
}

a,
.search-help a,
a[rel=prev] {
    outline: none !important;
    color: var(--secondary-text) !important;
}

a:hover {
    color: var(--accent) !important;
    transition: color 200ms;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

footer,
span {
    cursor: default;
}


.inline-code {
    line-height: 2.5em;
}

/* TAG CATEGORIES */
.category-0 a,
.category-0 a:link,
.category-0 a:visited,
a.tag-type-0,
a.tag-type-0:link,
a.tag-type-0:visited {
    color: #b4c7d9 !important
}

.category-0 a:hover,
a.tag-type-0:hover {
    color: #2e76b4 !important;
}

.category-1 a,
.category-1 a:link,
.category-1 a:visited,
a.tag-type-1,
a.tag-type-1:link,
a.tag-type-1:visited {
    color: #f2ac08 !important;
}
.category-1 a:hover,
a.tag-type-1:hover {
    color: #fbd67f !important;
}
.category-1 a.selected,
a.tag-type-1.selected {
    color: #fff !important;
}
.category-3 a,
.category-3 a:link,
.category-3 a:visited,
a.tag-type-3,
a.tag-type-3:link,
a.tag-type-3:visited {
    color: #d0d !important;
}
.category-3 a:hover,
a.tag-type-3:hover {
    color: #ff5eff !important;
}
.category-3 a.selected,
a.tag-type-3.selected {
    color: #fff !important;
}
.category-4 a,
.category-4 a:link,
.category-4 a:visited,
a.tag-type-4,
a.tag-type-4:link,
a.tag-type-4:visited {
    color: #0a0 !important;
}
.category-4 a:hover,
a.tag-type-4:hover {
    color: #2bff2b
}
.category-4 a.selected,
a.tag-type-4.selected {
    color: #fff !important;
}
.category-5 a,
.category-5 a:link,
.category-5 a:visited,
a.tag-type-5,
a.tag-type-5:link,
a.tag-type-5:visited {
    color: #ed5d1f !important;
}
.category-5 a:hover,
a.tag-type-5:hover {
    color: #f6b295 !important;
}
.category-5 a.selected,
a.tag-type-5.selected {
    color: #fff !important;
}
.category-6 a,
.category-6 a:link,
.category-6 a:visited,
a.tag-type-6,
a.tag-type-6:link,
a.tag-type-6:visited {
    color: #ff3d3d !important;
}
.category-6 a:hover,
a.tag-type-6:hover {
    color: #ffbdbd !important;
}

.category-7 a,
.category-7 a:link,
.category-7 a:visited,
a.tag-type-7,
a.tag-type-7:link,
a.tag-type-7:visited {
    color: #fff !important;
}
.category-7 a:hover,
a.tag-type-7:hover {
    color: #666 !important;
}
.category-7 a.selected,
a.tag-type-7.selected {
    color: #fff !important;
}

.category-8 a,
.category-8 a:link,
.category-8 a:visited,
a.tag-type-8,
a.tag-type-8:link,
a.tag-type-8:visited {
    color: #282 !important;
}
.category-8 a:hover,
a.tag-type-8:hover {
    color: #5fdb5f !important;
}

.category-banned a,
a.tag-type-banned {
    color: #000;
    background-color: red !important;
}

/* HEADER */
header#top {
    width: 100%;
    display: block !important;
    margin: 0 auto;
    box-sizing: border-box !important;
    background-image: none !important;
    border: none !important;
}

header#top menu:only-child {
    border-bottom: none !important;
}

menu.main {
    background: var(--card-bg-2) !important;
}

menu {
    padding: 0em !important;
    margin: 0 auto !important;
    display: flex !important;
    flex-flow: row wrap;
    border-radius: 0px !important;
    align-items: flex-start !important;
}

header > #nav > menu:nth-of-type(2) {
    background-color: var(--card-bg) !important;
}


header#top menu.main li.current a {
    color: #fff !important;
    background: var(--accent) !important;
}

header#top menu li a {
    font-family: 'Whitney semibold' !important;
    text-transform: uppercase;
    font-size: 1em;
}

#nav-forum a {
    font-style: normal !important;
}

header#top menu li {
    flex:1 !important;
}

header#top menu li a {
    padding: 1em 1.5em !important;
    flex: 1 1 auto !important;
    text-align: center;
}

header#top menu li a:hover {
    background: var(--secondary-color) !important;
    cursor: pointer;
    transition: background 200ms, color 200ms;
}

header#top menu a {
    color: var(--secondary-color) !important;
    transition: background 200ms, color 200ms;
}

header#top menu li:hover a {
    color: var(--op-bg) !important;
    transition: background 200ms, color 200ms;
}

#nav menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

header#top menu form {
    display: flex;
}

#nav > menu:nth-child(2) > li:nth-child(1) > form {
    padding:0 !important;
    margin:0 !important;
}

/* FOOTER */
footer {
    background: var(--card-bg-2) !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    align-self: flex-end;
    position: relative !important;
    padding: 1.5em 0em !important;
    border-radius: 0 !important;
}

footer,
footer a {
    color: var(--secondary-color) !important;
    transition: color 200ms;
}

footer a:hover,
.search-help a:hover,
a[rel=prev]:hover {
    color: var(--accent) !important;
    transition: color 200ms;
}

/* POPUPS */
.message {
    padding: 0em 2em;
    color: var(--secondary-color);
}

input.e6-challenge {
    background-color: var(--card-bg);
    box-shadow: none !important;
    border: none !important;
    padding: 1em;
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 200ms;
}

input.e6-challenge:hover {
    background-color: var(--accent);
    transition: background-color 200ms;
}
}

@-moz-document url-prefix("https://e621.net") {
/* SPECIFIC PAGE STYLING */
/* do not touch uwu!! */

/* POSTS HOMEPAGE */
/* tag list sidebar */

#tag-box {
    font-size: 1.1em !important;
}

#tag-box > ul > li {
    line-height: 1.25em !important;
}

#tag-box ul {
    margin-top: 0.5em !important;
}

#search-box > h1 > span a {
    font-weight: normal !important;
}

#search-box input[type=text] {
    padding: 0.75em !important;
    width: 100% !important;
    border-radius: 0 !important;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    transition: background 200ms;
}

#search-box input[type=text]:focus {
    background: var(--card-bg) !important;
    transition: background 200ms;
}

#search-box button[type=submit] {
    display: none;
}

.search-help a,
a[rel=prev] {
    color: #999 !important;
    transition: color 200ms;
    font-size: 0.8em;
}

#mode-box > form:not(#new_comment):not(.edit_forum_topic):not(.edit_forum_post) {
    display:block !important;
    background:none !important;
    padding:0 !important;
}

#related-box,
#ad-leaderboard {
    display: none !important;
}
/* posts page bg */
#page {
    background-color: transparent !important;
    background-image: none !important;
    padding: 1.5em !important;
}

/* POSTS VIEW  */
#posts-container,
#c-favorites #posts {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-around !important;
    align-items: center !important;
    box-sizing: border-box !important;
}

#posts-container article,
#c-favorites #posts article {
    min-width: calc(100% / 5 - 5em) !important;
    min-height: auto !important;
    margin: 0.75em 1em !important;
}

#posts-container img,
#c-favorites #posts img {
    border-radius: 0 !important;
}

.desc {
/*     display: none; */
    background:var(--card-bg) !important;
        padding:0.25em !important;
}

.desc span:first-child {
    margin-left:0 !important;
}

#nav-links-top,
div#c-posts div#a-show .pool-nav,
div#c-posts div#a-show .search-seq-nav,
div#c-posts div#a-show .set-nav {
    background-color: var(--card-bg) !important;
}

#image-extra-controls > div:nth-child(4) {
    color: transparent;
}

body.c-posts.a-show #new_comment > div.input.text.optional {
    margin-bottom:-0.25em !important;
} 

div#c-posts div.notice.notice-pending {
    border:var(--darker) !important;
}

#image-and-nav .pool-name {
    font-weight:bold !important;
}

/* PAGINATOR */
.paginator {
    display: flex !important;
    flex-flow: row nowrap !important;
}

.paginator .arrow {
    display: none !important;
}

.paginator li a {
    padding: 1em 1.5em !important;
}

.paginator li.more,
.paginator .numbered-page a {
    color: var(--secondary-color) !important;
    transition: background 200ms, color 200ms;
}

.paginator li a:hover {
    background: var(--card-bg-2) !important;
    color: var(--primary-color) !important;
    transition: background 200ms, color 200ms;
}
.paginator li.current-page {
    color: var(--accent) !important;
    cursor: pointer;
    transition: background 200ms, color 200ms;
}

.fa-ellipsis-h:before {
    content: "・・・"
}

/* POST SEARCHBOX */
#nav form,
#nav input {
    flex: 1;
}

header#top menu form input,
#nav > menu > form > input {
    padding: 1em;
    border-radius: 0 !important;
    box-sizing: border-box;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    transition: background 200ms, color 200ms;
}

#quick_search_name_matches:focus,
#quick_search_name:focus,
#nav > menu > form > input:focus {
    background: var(--card-bg) !important;
    color: #fff !important;
    transition: background 200ms, color 200ms;
}


body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    border: none;
}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle {
    background: #232528 !important;
}

/* ACCOUNT SETTINGS */
#ui-id-4 {
    font-size: 1em !important;
    text-transform: uppercase;
}

#blacklist-edit-dialog {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly !important;
    align-items: center;
    text-align: left !important;
    background: #32454894;
}

#blacklist-edit-dialog h4 {
    font-size: 1.5em !important;
    margin: 0.25em;
}

#blacklist-edit {
    flex-grow: 1;
    padding: 1em;
    margin: 0.25em 0;
}

#blacklist-save,
#blacklist-cancel {
    margin: 0.75em 0 !important;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    padding: 0.75em;
    flex: 1 0 30% !important;
    text-transform: uppercase;
    border: 3px solid transparent;
    transition: border-color 200ms;
}

#blacklist-save:hover,
#blacklist-cancel:hover {
    border: 3px solid var(--accent);
    transition: border-color 200ms;
}

#blacklist-save {
    margin-right: 0.25em !important;
}
#blacklist-cancel {
    margin-left: 0.25em !important;
}

#blacklist-edit-dialog > p {
    font-size: 0.8em !important;
    color: var(--secondary-color) !important;
}

#blacklist-edit {
    background: var(--card-bg-2) !important;
    transition: background 200ms;
    color: var(--secondary-color);
}

#blacklist-edit:focus {
    background: var(--card-bg) !important;
    transition: background 200ms;
}

/* NOTICES */
#notice {
    padding: 1em !important;
}

#close-notice-link {
    color: #fff !important;
    transition: color 200ms;
}

#close-notice-link:hover {
    color: var(--card-bg) !important;
    transition: color 200ms;
}

/* ACCOUNT PAGE */

.user-greeting, .section > ul > li > a:hover {
    color:var(--accent) !important;
    transition:color 200ms;
}

.section > ul > li > a, .section > ul > li {
    color:#999 !important;
    transition:color 200ms;
}

/* COMMENTS */

#a-index table {
    margin-top:1.5em;
}

.author-name a {
    color:#dadde3 !important;
    transition:color 200ms;
}

.author-name a:hover {
    color:var(--accent) !important;
    transition:color 200ms;
}

#nav > menu:nth-child(2) > li:not([id]):not(:nth-child(1)) {
    display:none !important;
}

.comment-post {
    border-color:var(--accent) !important;
    background:var(--card-bg) !important;
    padding:1em 1.5em !important;
}

.post-preview.post-status-flagged:not(.mod-queue-preview) img, .post-preview.post-status-pending:not(.mod-queue-preview) img {
    border-color:var(--darker) !important;
}

.comment-post-grid {
    background:#32454894 !important;
}

div#c-comments div#a-index .comment-post .comments {
    margin-left:0;
}

.score-neutral, span.score-neutral {
    transition:color 200ms;
    cursor:pointer;
}

#c-posts .image-vote-buttons a span {
    background:none;
}

#p-index-by-post > div:nth-child(2) > div.post-container > div.post-information > div > div:nth-child(1) > span:nth-child(3) > span > span:nth-child(2) {
    padding:0px 3px !important;
}

.score-neutral:hover, span.score-neutral:hover {
    color:var(--accent);
    transition:color 200ms;
    background-color: hsla(0,0%,100%,.2);
    border-radius: 3px;
}

.new-comment h2, .new-comment h2 a, #p-index-by-post h2, #p-index-by-post h2 a {
    margin-top:1.25em !important;
}

.new-comment h2 a, #p-index-by-post h2 a {
    color:#999 !important;
     transition:color 200ms;
}

.new-comment h2 a:hover, #p-index-by-post h2 a:hover {
    color:var(--accent) !important;
    transition:color 200ms;
}

.styled-dtext blockquote, .new-comment .simple_form.edit_comment {
    background:rgba(37, 55, 61,0.9);
    border-color:var(--accent);
    border-top:none;
    border-bottom:none;
    border-right:none;
    padding:0em 1.5em 1.5em 1.5em;
}

.styled-dtext blockquote p:last-of-type {
    margin-bottom:0;
}

a[rel=nofollow].dtext-link {
    color:var(--darker) !important;
    font-family:'whitney book' !important;
}

.styled-dtext blockquote br {
    line-height:100em !important;;
}

/* .comment-post-grid .content-menu li:nth-of-type(2n) {
    display:none !important;
} */

.comment-post-grid .content-menu li {
    text-transform:lowercase;
}

.comment-post-grid .content {
    padding:1rem 1rem !important;
}

.comment-post .post-information .header .row > span.info:nth-of-type(3) > span:first-of-type > span:nth-of-type(2) {
    margin-left:0.5em !important;
}

.comment-post-grid .author-info, .comment-post-grid .content {
    display:flex;
    flex-flow:column wrap;
    justify-content:flex-start !important;
}

#new_comment textarea, #new_blip textarea {
    padding:1em;
     background:var(--card-bg-2) !important;
    color:var(--secondary-color) !important;
    transition: background 200ms;
    width:100% !important;
}

#new_comment textarea:focus {
    background:var(--body-bg) !important;
    transition: background 200ms;
}


.simple_form.edit_comment, #new_blip {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between !important;
    align-items: center !important;
    flex-grow:1 !Important;
}

body.a-new #c-blips #a-new form > input:not([type=hidden]) {
    max-width:49% !important;
}

body.a-new #c-blips #a-new form > input[type=submit] {
    flex-basis:75% !important;
}

#new_blip textarea, #new_blip > div.input.text.optional {
    width:100% !important;
}

#new_comment > div.input.text.optional {
    flex-basis:100% !important;
}

#new_comment, #new_comment > div.input.text.optional > div {
    width:100% !important;
}

#new_comment > input.btn, #new_comment > input[type=button], #new_comment > div.input.boolean.optional.comment_do_not_bump_post, #new_blip > input.btn, #new_blip > input[type=button] {
    flex:1 0;
    height:5em !important;
    justify-content:center;
    padding:1em;
    justify-self:center;
    text-transform:uppercase;
    font-family:'Whitney Black' !important;
    margin:0 0.75em !important;
    background:var(--card-bg-2) !important;
    color:var(--secondary-color) !important;
    border:3px solid transparent;
    transition:border-color 200ms;
    align-items:center !important;
}

#new_comment > div.input.boolean.optional.comment_do_not_bump_post > label {
    font-family:'Whitney Black' !important;
    font-size:1em !important;
    margin-right:0 !important;
}

#new_comment > input.btn {
    margin-left:0!important;
}

#new_comment > input.btn:hover, #new_comment > input.btn:focus, #new_comment > input[type=button]:hover, #new_comment > input[type=button]:focus {
    border-color:var(--accent);
    transition:border-color 200ms;
}

#new_comment > div.input.boolean.optional.comment_do_not_bump_post {
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    margin-right:0 !important;
}

#c-comments > #a-index form.edit_comment > input:not([type=hidden]) {
    max-width:100% !important;
}

#new_comment > div.input.boolean.optional.comment_do_not_bump_post > label {
    display:flex;
    flex-flow:column wrap !important;
    align-items:center !important;
}

div#c-explore-posts a.desc {
    font-size:1.2em !important;
    text-transform:uppercase;
}

div#c-explore-posts a:not(.desc) {
    color:rgba(90, 100, 100,1) !important;
}

#popular-nav-links {
    display:flex;
    width:100%;
    justify-content:center;
    margin:1em 0em;
    align-items:center;
}

div#c-explore-posts span.period {
    display:flex;
    flex-flow:row nowrap !important;
    align-items:center;
}

#c-favorites .paginator {
    margin-top:0.5em;
    flex-basis:100% !important;
}

#c-favorites #posts article {
    flex-grow:1;
}

#c-favorites > #a-index > #sidebar > div:not([id]), #c-post-versions #search-form-show-link {
    color:var(--darker) !important;
    text-transform:lowercase !important;
}

#c-post-versions > #a-index > h1 {
    margin-bottom:0.5em !important;
}

div#c-post-versions div#a-index .pv-check {
    display:flex;
    justify-content:center;
}

div#c-post-versions div#a-index .pv-content {
    padding:1em !important;
}

#image-extra-controls .button {
    border-radius:0 !important;
    padding:0.5em 1em;
}

#c-posts .button, #c-posts .button a {
    text-transform:uppercase;
    font-family:'whitney black' !important;
    color:#fff !important;
}

#c-posts .styled-dtext blockquote, .new-comment .simple_form.edit_comment {
    padding:1.5em !important;
}

#c-wiki-pages > #a-search > .simple_form {
    width:100% !important;
}

#blip .dtext-external-link:hover, #blip .dtext-link:hover {
    color:var(--accent) !important;
    transition:color 200ms;
}
.comment-post-grid h6 {
    margin-bottom:0.75em !important;
}

.blip.comment-post-grid h6 a {
    font-size:1.15em !important;
    font-family:'whitney semibold' !important;
}

#blip .author-name {
    margin-top:0.5em !important;
}

.response-list .name-rank {
    font-style:italic;
}

.comment-post-grid .content .content-menu {
    margin-top: auto !important;
}

a.user-member.with-style {
    font-style:normal !important;
    text-transform:initial !important;
}

/* USER PROFILE */
#a-show > div > div.stats-section > div.profile-stats {
    background:var(--card-bg) !important;
    padding:1.5em !important;
}

#a-show > div > div.stats-section > div.profile-stats > table > tbody > tr:nth-child(11) {
    display:none;
}

#a-show a:hover, #a-show > div > div.stats-section > div.profile-stats > h1 > a, #a-show > div > div.bottom-section > div.posts-section > div.posts > div > h2 > a:hover {
    transition:color 200ms;
    color:var(--accent) !important;
}

.vertical-section {
    margin-top:1em !important;
    flex-flow:row wrap !important;
}

#tag-list > h2.tag-list-header:not(:nth-child(1)) {
    margin-top:1em !important;
}

#c-posts .bottom-notices .parent-children .notice-child, div#c-posts div.notice.notice-parent, #pending-approval-notice {
    background:var(--card-bg) !important;
}


/* AUTOCOMPLETE */
.ui-widget-content {
    background:var(--card-bg) !important;
    outline:none !important;
    border:none !important;
}

.ui-autocomplete {
    padding:0.25em !important;
}

.ui-autocomplete .ui-state-active {
    background:var(--accent) !important;
    border:none !important;
}

.ui-autocomplete .ui-state-active a {
    color:#fff !important;
}

.ui-autocomplete a.user-member.with-style {
    font-family:'whitney book' !important;
    font-weight:normal !important;
}

.autocomplete-arrow {
    color:#fff !important;
}

/* FORUM */

.forum-post blockquote {
    padding:1.5em !important;
}

.forum-post blockquote a[rel=nofollow].dtext-link {
    line-height:initial !important;
}

/* TICKETS */
#c-tickets .section table tbody tr {
    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:space-between;
    gap:1em !important;
}
#c-tickets .section table tbody tr > td:first-of-type > span {
    font-family:'whitney semibold' !important;
}
#c-tickets .section table tbody tr p {
    margin:0 !important;
}

/* TAKEDOWNS */
#c-takedowns h2:first-of-type {
    margin-bottom:0.5em;
}
#c-takedowns .box-section {
    background: rgba(37, 55, 61, 0.9) !important;
}
#c-takedowns table tr:not(:nth-child(3)) > td:first-child {
    padding-right:1em !important;
    font-family:'whitney semibold' !important;
}

/* USER PROFILE */
body.c-users.a-show #c-users #a-show .profile-container .about-section {
    margin-top:2em;
}

body.c-users.a-show #c-users #a-show .profile-container .about-section .box-section {
    background-color:var(--card-bg) !important;
}

.posts-section .blacklist {
    margin-top:2em !important;
}

#a-show h2 > a {
    color:#999 !important;
}

div#c-users div#a-show .posts-section .posts, div#c-users div#a-show div.bottom-section{
    display:flex;
    flex-flow:row wrap !important;
    flex:0 !important;
}

#a-show div.box.user-favorites, #a-show .user-uploads, .profile-container  div.posts-section, .profile-container div.about-section {
    flex-basis:100% !important;
    width:100% !important;
}

#a-show .profile-container .about-piece, #a-show .profile-container .about-section {
    margin:0 !important;
}
}

@-moz-document url-prefix("https://e621.net/") {
/* FORMS & TABLES */
#nav > menu > li:not([id]):not(:nth-child(1)) {
    display: none !important;
}

form {
    background: rgba(37, 55, 61, 0.9) !important;
    min-width: 50% !important;
    margin: 0 auto !important;
    margin-top: 0.7em !important;
}

form:not(#new_comment):not(.edit_forum_topic):not(.edit_forum_post) {
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: space-between !important;
    background: rgba(37, 55, 61, 0.9) !important;
    width: 100%;
    padding: 1.5em !important;
    gap: 1.5em;
}

body.a-index form:not(#new_comment):not(.edit_forum_topic) {
    align-items: flex-end !important;
}

body.a-new form:not(#new_comment):not(.edit_forum_topic):not(#new_bulk_update_request) {
    align-items: flex-start !important;
}

form label {
    font-family: 'whitney semibold' !important;
    font-size: 1.2em;
}

/* .comment_do_not_bump_post {
    height:auto !important;
}
 */
form .dtext-previewable {
    width: 100%;
}

form textarea,
form select,
form input,
#c-pools input,
#c-pools select {
    padding: 1em;
    border-radius: 0 !important;
    box-sizing: border-box;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    transition: background 200ms, color 200ms;
    max-width: 100% !important;
    width: 100% !important;
    font-size: 1em !important;
    /*     height: 100% !important; */
}

form input:focus,
form textarea:focus,
#c-pools input:focus,
#c-pools select:focus {
    background: var(--card-bg) !important;
    transition: background 200ms;
}

.simple_form .input {
    display: flex !important;
    flex-flow: column wrap;
    justify-content: center !important;
    align-items: flex-start;
    gap: 0.25em;
    margin: 0 !important;
}

input[type=submit],
input[type=button],
.edit-submit input[type=submit] {
    padding: 1em !important;
    text-transform: uppercase !important;
    font-family: 'Whitney Black' !important;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    border: 3px solid transparent !important;
    transition: border-color 200ms;
    outline: none !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    height: 100% !important;
}

input[type=submit]:hover,
input[type=button]:hover,
.edit-submit input[type=submit]:hover {
    border-color: var(--accent) !important;
    transition: border-color 200ms;
}

input[type=submit],
#a-gallery > table > tbody > tr:nth-child(8) > td > input[type=submit] {
    max-width: 10em !important;
}

.simple_form > * {
    flex: 1;
}

.simple_form .hint {
    /*     max-width: 100% !important; */
    display: none !important;
}


/* tags search */
/* posts search */
aside#sidebar > #search-box form {
    padding: 0 !important;
}

#blacklist-collapse::before {
    font-size: 0.5em !important;
}

/* comments search */
body.c-comments .search_creator_name {
    flex-basis: 30% !important;
}


/* new entry and edit form */
body.a-new .simple_form textarea {
    min-height: 5em !important;
}

.new_artist textarea,
.new_bulk_update_request textarea {
    height: 5em !important;
}

body.a-edit .edit_artist > p {
    font-size: 1.5em !important;
    font-family: 'whitney black' !important;
    flex-basis: 100% !important;
    margin: 0 !important;
}

body.a-edit .edit_artist > .input:nth-child(n+4) {
    flex-basis: 49% !important;
}

body.a-edit .edit_artist > input,
body.a-new #new_artist > input {
    flex-basis: 49% !important;
    max-width: 100% !important;
}

body.a-new #new_artist > .input:nth-child(2),
body.a-new #new_artist > .input:nth-child(3) {
    flex-basis: 25% !important;
}

body.a-new #new_artist > .input:nth-child(n+4) {
    flex-basis: 50% !important;
}

/* blips */
#new_blip > div {
    flex-basis: 100% !important;
}

#new_blip textarea:focus {
    background: var(--card-bg) !important;
    transition: background 200ms;
}

#new_comment > input.btn,
#new_comment > input[type=button],
#new_comment > div.input.boolean.optional.comment_do_not_bump_post,
#new_blip > input.btn,
#new_blip > input[type=button] {
    margin: 0 !important;
}

.author-name {
    font-size: 1.5em;
    font-style: normal !important;
    overflow-wrap: anywhere !important;
}

article.blip h6,
.content-menu a {
    color: #999 !important;
}

article.blip h6 {
    font-size: 1.5em !important;
}

article.blip h6 {
    font-size: 1.5em !important;
}

.content-menu a:hover {
    color: var(--accent) !important;
}

/* pools */
table.aligned-vertical td,
table.search td {
    width: 100% !important;
}

#c-pools .search {
    margin-bottom: 8em !important;
    justify-content: center !important;
}

#c-pools .search,
#c-pools tbody,
#c-pools tr {
    display: flex;
    flex-flow: row wrap !important;
    width: 100%;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 10vh !important;
}

#c-pools .search tbody {
    gap: 1em;
}

#new_pool .pool_name {
    flex-basis: 100% !important;
}

#new_pool > .input:nth-child(3),
#new_pool > .input:nth-child(4) {
    flex-basis: 49% !important;
}

#new_pool > .input:nth-child(3) textarea,
#new_pool > .input:nth-child(4) textarea {
    min-height: 14em !important;
    resize: both !important;
    overflow: auto !important;
}

#new_pool > .pool_category,
#new_pool > .pool_is_active {
    flex: 0;
    flex-basis: 10% !important;
}

#new_pool > input {
    flex-basis: 35% !important;
}

#new_pool > *:nth-child(n+5):not(:nth-child(6)) {
    align-self: flex-end !important;
}

#new_pool > *:nth-child(6) {
    align-self: center !important;
    margin-top: 1.5em !important;
}

/* pools listings */
#c-pools table.striped tbody {
    flex-flow: column wrap;
    justify-content: space-between !important;
}

#c-pools table.striped tbody tr td {
    flex-basis: 50%;
}

#c-pools .striped thead tr th,
#c-pools .striped tbody tr td {
    text-align: center !important;
}

#c-pools .striped tbody td a.last-page {
    font-size: 0.8em;
    font-family: 'Whitney Book' !important;
}

#c-pools .striped thead > tr > th {
    width: 100%;
    flex-basis: 50%;
}

#c-pools table.striped tbody tr.pool-category-series td:first-of-type,
#c-pools .striped thead > tr > th:first-of-type,
.pool-category-collection > td:first-of-type {
    display: none;
}

#c-pools #a-index .striped tbody {
    width: 100%;
    flex-flow: row wrap !important;
}

#c-pools .pool-category-series,
#c-pools .pool-category-collection {
    width: 100% !important;
    flex-basis: 100% !important;
}

#c-pools .striped tbody,
#c-pools tr {
    height: auto !important;
}

#c-pools .search tbody > tr {
    gap: 0.25em;
}

#pool_is_active {
    height: 1em !important;
}

form.simple_form div.input.boolean label {
    margin-left: -1.25em !important;
}

/* tag alias */
body.c-tag-alias-requests #a-new > form > div:nth-child(5) > input {
    flex-basis: 49% !important;
    max-width: 100% !important;
}

body.c-tag-alias-requests #a-new > form > div:nth-child(5) {
    flex-flow: row nowrap !important;
    justify-content: space-between !important;
}

/* sets */
#new_post_set > div.input.string.optional.post_set_name {
    flex-basis: 20%;
}

#new_post_set > div.input.text.optional {
    flex-basis: 25%;
}

.post_set_is_public,
.post_set_transfer_on_delete {
    flex-basis: 49% !important;
    padding: 2em;
}

#post_set_is_public,
#post_set_transfer_on_delete {
    height: auto !important;
    width: auto !important;
}

#new_post_set > p {
    display: none;
}

/* editing post */
body.c-posts.a-show #edit #tags-container > div:nth-child(2), body.c-posts.a-show #edit #tags-container > div:nth-child(3) {
    width:100% !important;
}

#post_tag_string {
    font-family:Consolas,Andale Mono WT,Andale Mono,Lucida Console,Lucida Sans Typewriter,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,Nimbus Mono L,Monaco,Courier New,Courier,monospace !important;
    
}

body.c-posts.a-show #edit #form > div:nth-child(n+11), div#c-posts div#a-show #edit .edit-submit {
    flex:1 !important;
}

#iqdb-similar {
    display:none !important;
}

body.c-posts.a-show #edit #form > div:nth-child(14), body.c-posts.a-show #edit #form > div:nth-child(13){
    flex-basis:100% !important;
}

body.c-posts.a-index #quick-edit-div form > .input {
    flex-flow:row wrap !important;
    gap:0.5em !important;
}

body.c-posts.a-index #quick-edit-div form > .input > input {
    max-width:100% !important;
    flex:1 !important;
}

#tags-container,
#form > div:nth-child(11),
#form > div:nth-child(12),
#form > div:nth-child(13),
#form > div:nth-child(14),
#form > div:nth-child(16),
#form > div.edit-submit.input > input {
    flex-basis: 100% !important;
    width: 100%;
}

div.related-tags {
    background: var(--card-bg-2) !important;
}

div.related-item {
    padding: 0.5em !important;
}

div.related-tags .tag-active {
    background: rgba(255,255,255,0.2) !important;
    padding: 0.25em;
}

div#c-posts div#a-show #form > div:nth-child(11) {
    flex-flow: row nowrap;
    align-items:center;
    margin-top:2em !important;
    gap:1em !important;
}

div#c-posts div#a-show form.simple_form div.input fieldset {
    gap:1em !important;
}

div#c-posts div#a-show form.simple_form div.input fieldset label {
    margin:0 !important;
}

body.c-posts #form > div:nth-child(11) > fieldset {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

body.c-posts #form fieldset input[type=radio] {
    width: 1em !important;
    height: 1em !important;
    margin-right: 0.5em !important;
}

div#c-posts div#a-show #edit .edit-submit {
    background: none !important;
    position: relative !important;
    padding: 0 !important;
    margin-top: 0.5em !important;
    max-width:10em !important;
    align-self:flex-end !important;
}

div#c-posts div#a-show #edit .edit-submit input {
    width: 100% !important;
    height:100% !important;
}

#form > div:nth-child(16) {
    margin-top: -1.5em !important;
}

/* account settings */
#edit-options,
#basic-settings-section {
    flex-basis: 100% !important;
    margin: 0 !important;
}

/* ticket */
#new_ticket > div:nth-child(5) {
    width: 100% !important;
}

#new_forum_topic > .forum_topic_title,
#new_forum_topic > div.input.text.optional {
    flex-basis: 100%;
}

#forum_topic_title {
    height: 3em !important;
}

#new_forum_topic #forum_post_body_for_ {
    font-size: 1em !important;
}

/* request alias */
body.c-tag-implication-requests #a-new > form > div:nth-child(5) > input {
    flex-basis: 49% !important;
    max-width: 100% !important;
}

body.c-tag-implication-requests #a-new > form > div:nth-child(5) {
    flex-flow: row nowrap !important;
    justify-content: space-between !important;
}

body.c-tag-implication-requests #a-new > form > div:nth-child(4),
#a-new > form > div:nth-child(4) > div,
body.c-tag-alias-requests #a-new > form > div:nth-child(4),
#a-new > form > div:nth-child(4) > div {
    flex-basis: 100%;
    width: 100%;
}

#tag_alias_request_reason {
    font-size: 1em !important;
}

body.c-tag-alias-requests #a-new > form > div:nth-child(5) {
    margin: 0 !important;
}

/* bulk update request */
#new_bulk_update_request {
    align-items: flex-start!important;
}
#new_bulk_update_request > .bulk_update_request_title {
    flex-basis:100% !important;
}

#new_bulk_update_request > .input:nth-child(n+3), #new_bulk_update_request > .input:nth-child(n+5) {
    flex-basis:49% !important;
}

#new_bulk_update_request > input {
    align-self:flex-end !important;
}


/* forum edit & post */
div.list-of-forum-posts article div.content-menu .edit_forum_topic {
    flex-flow: row wrap !important;
    justify-content: space-between !important;
    align-items: start !important;
    background: rgba(37, 55, 61, 0.9) !important;
    width: 100%;
    padding: 1.5em !important;
    gap: 1.5em;
}

.edit_forum_post {
    flex-flow: row wrap !important;
}

.edit_forum_topic > div.input.text.optional,
#topic-response .new_forum_post div.input.text.optional,
#a-new form.new_forum_post > div.input.text.optional {
    flex-basis: 100% !important;
}

body.a-show .forum-post form.edit_forum_post > div {
    flex-basis: 100% !important;
    flex-shrink: 0 !important;
}

body.a-show .forum-post form.edit_forum_post > input:nth-child(n+4),
.new_forum_topic > input {
    flex-basis: 49% !important;
    max-width: 100% !important;
}

/* forum search & comments search */
body.a-search #c-forum-posts form.simple_form,
body.a-search #c-comments form.simple_form,
.edit_tag {
    align-items: flex-end !important;
}

/* new message */
.new_dmail div.input.text.optional {
    flex-basis: 100% !important;
}

/* metasearch */
#c-meta-searches form input:first-child {
    flex: 1 !important;
}

/* add to pool */
.ui-dialog-title, .ui-dialog[aria-describedby=add-to-set-dialog] {
    text-transform:uppercase !important;
    font-family:'whitney black' !important;
}
.ui-button {
    border:none !important;
    border-radius:0 !important;
    transition:background 200ms;
}

.ui-button:hover {
    box-shadow:none !important;
    background:var(--accent) !important;
    transition:background 200ms;
}

#add-to-pool-dialog > form:not(#new_comment):not(.edit_forum_topic):not(.edit_forum_post), .ui-dialog[aria-describedby=add-to-set-dialog] .simple_form {
    background:none !important;
    margin:0 !important;
}

#add-to-pool-dialog > form > div:nth-child(2) {
    flex-basis:100% !important;
}

#add-to-pool-dialog > form  #pool-name-container {
    width:100% !important;
    font-size:1.25em !important;
}

#add-to-pool-dialog > form > div:nth-child(3) > input[type=submit] {
    min-width:100% !important;
}

.ui-dialog[aria-describedby=add-to-set-dialog] .simple_form {
    display:flex;
    align-items:flex-end;
    flex-flow:row nowrap;
    gap:1em;
}

#add-to-set-id {
    padding: 1em;
    border-radius: 0 !important;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    width: 100% !important;
    font-size: 1em !important;
}

#add-to-set-dialog > div > div:nth-child(1) > label {
    font-family: 'whitney semibold' !important;
    text-transform:capitalize;
}

#add-to-set-submit {
    padding: 0.88em !important;
    text-transform: uppercase !important;
    font-family: 'Whitney Black' !important;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    border: 3px solid transparent !important;
    transition: border-color 200ms;
    outline: none !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    width:100% !important;
}

#add-to-set-submit:hover {
    border-color: var(--accent) !important;
    transition: border-color 200ms;
}

.ui-dialog[aria-describedby=add-to-set-dialog] .simple_form > .input {
    flex-basis:50% !important;
}

/* add note */
.note-edit-dialog {
    padding-bottom:1.5em !important;
}
body.mode-translation .note-edit-dialog .ui-dialog-content {
    padding:1.5em !important;
}
body.mode-translation .note-edit-dialog textarea {
    width:100% !important;
    padding: 1em;
    border-radius: 0 !important;
    box-sizing: border-box;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    transition: background 200ms, color 200ms;
    max-width: 100% !important;
    font-size: 1.25em !important;
}

body.mode-translation .note-edit-dialog textarea:focus {
    background: var(--card-bg) !important;
    transition: background 200ms;
}

body.mode-translation .note-edit-dialog .ui-dialog-buttonpane {
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
    flex-flow:row nowrap !important;
    padding:0 !important;
    margin:0 !important;
    width:100% !important;
}

body.mode-translation .note-edit-dialog .ui-dialog-buttonpane button[type=button] {
    text-transform: uppercase !important;
    font-family: 'Whitney Black' !important;
    background: var(--card-bg-2) !important;
    color: var(--secondary-color) !important;
    border: 3px solid transparent !important;
    transition: border-color 200ms;
    outline: none !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    flex:1 !important;
}

/* flag post */
.flag-dialog-body .styled-dtext h3 {
    padding-top:0.25em;
}

#new_post_flag:not(#new_comment):not(.edit_forum_topic):not(.edit_forum_post) {
/*     flex-flow:column wrap !important; */
    align-items:flex-start !important;
    justify-content:flex-start !important;
}

#new_post_flag > * {
    flex:0 !important;
}
#new_post_flag input[type=radio] {
    flex-basis:3% !important;
}

#new_post_flag label {
    flex-basis:90% !important;
}

#new_post_flag > div.input.integer.optional.post_flag_parent_id {
    flex-basis:100% !important;
}

#new_post_flag > div:nth-child(26) > input[type=submit], #new_post_flag > div:nth-child(26) {
    max-width:100% !important;
    flex-basis:100% !important;
}

/* post ticket */
#new_ticket .section {
    flex-basis:100% !important;
}

#new_ticket .section:first-of-type {
    display:flex;
    flex-flow:column wrap;
    gap:0.5em;
}

#new_ticket select, #new_ticket textarea, #new_ticket .section {
    width:100% !important;
}

#new_ticket > input {
    flex-basis:49% !important;
    max-width:100% !important;
}

/* new takedown */
#new_takedown > .section {
    flex-basis:100% !important;
}


#new_takedown div.input.boolean label, #new_takedown div.input.boolean label input, #new_takedown div.input.boolean label {
    margin:0 !important;
}

#new_takedown div.input.boolean label {
    display:flex;
    align-items:center;
}

#new_takedown #takedown_reason_hidden {
    width:auto !important;
    margin-right:0.5em !important;
}

#new_takedown > input.btn {
    flex-basis:100% !important;
    max-width:100% !important;
}
/* TABLES */
table.striped,
#p-standard-listing {
    margin-top: 1em !important;
}
table.striped thead tr,
table.table thead tr,
.pv-label {
    background-color: #232528 !important;
    padding: 1em !important;
}

table.striped tbody tr,
table.table tbody tr {
    background-color: var(--card-bg-2) !important;
    border: none;
}

table th label {
    font-family: 'whitney semibold' !important;
    font-size: 1.15em;
}

table.striped tbody tr:nth-child(2n),
table.table tbody tr:nth-child(2n) {
    background-color: var(--card-bg) !important;
    border: none;
}

table.striped th,
table.table th {
    padding: 0.75em 0.3em !important;
    font-family: 'Whitney Black' !important;
    font-size: 1.2em;
}

table.striped td,
table.table td {
    font-size: 1.1em;
}
}

@-moz-document url-prefix("https://e621.net/post_versions") {
 header #nav > menu:nth-of-type(2) {
    color:transparent;
}

menu#text {
    display:none !important;
}

}

@-moz-document url-prefix("https://e621.net/") {
/* WIKI & HELP */

.styled-dtext blockquote h4 {
    padding:0;
}

#wiki-page-posts h2 {
    margin-bottom:0.5em !important;
}

.styled-dtext div.expandable {
    background:rgba(0,0,0,0.2) !important;
    border-top:0;
    border-right:0;
    border-bottom:0;
    border-color:var(--accent) !important;
    cursor:pointer;
}

.styled-dtext blockquote, .styled-dtext pre {
    padding:1em 0em 1em 1em !important;
}

.expandable-content {
    padding:1em !important;
}

.styled-dtext div.expandable div.expandable-header {
    padding:1em;
}

.styled-dtext blockquote, .simple_form.edit_comment, .styled-dtext pre {
    background:rgba(37, 55, 61,0.9);
    border-color:var(--accent);
    border-top:none;
    border-bottom:none;
    border-right:none;
    padding:0em 1.5em 1.5em 1.5em;
}

#wiki-page-title a, h5 a {
    font-size:1.5em !important;
    font-family:'Whitney Black' !important;
}

#wiki-page-body a:hover, .styled-dtext a:hover, .dtext-color-species {
    color:var(--accent) !important;
    transition:color 200ms;
}

.styled-dtext blockquote p:last-of-type {
    margin-bottom:0;
}

.styled-dtext blockquote br {
    line-height:100em !important;
}

table.striped {
    margin-top:1em;
}
table.striped thead tr, table.table thead tr, .pv-label {
    background-color:#232528 !important;
    padding:1em !important;
}

table.striped tbody tr, table.table tbody tr {
    background-color:var(--card-bg-2) !important;
    border:none;
}

table.striped tbody tr:nth-child(2n), table.table tbody tr:nth-child(2n) {
    background-color:var(--card-bg) !important;
    border:none;
}

table.striped th, table.table th {
    padding:0.75em 0.3em !important;
    font-family:'Whitney Black' !important;
    font-size:1.2em;
}

table.striped td, table.table td {
    font-size:1.1em;
}

a.user-member.with-style, table.striped td a, table.table td a {
    color:#dadde3 !important;
    transition:color 200ms;
    font-family:'Whitney Black' !important;
}

a.user-member.with-style:hover, table.striped td a:hover, table.table td a:hover {
    color:var(--accent) !important;
    transition:color 200ms;
}

.forum-topic-row a.last-page {
    font-family:'whitney book' !important;
}

}
